* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #eee;
  margin: 0;
  background-color: #2e2e2e;
}
.container {
  padding: 2rem 1.5rem;
}
