* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color1-: #0a1a3f;
  --color2-: #2e2e2e;
  --color3-: #1a1f4a;
  --color4-: #3a3a3a;
  --color5-: #7b1113;

  /* Card horizontal */
.Card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #7B1113;
    border-radius: 0.5rem;
    border: 2px solid black;
    justify-content: space-around;
    box-shadow: 3px 3px 3px #2E2E2E;
}

.Card img {
    margin: 0.5em;
    border-radius: 0.5rem;
}

.Card h2 {
    font-size: small;
    color: #CBA921;
}

.Show {
    border-radius: 1rem;
    border: none;
    background-color: #1C1F4A;
    color: white;
    padding: 8px 20px 8px 20px;
}
  
.Star {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E2E2E;
    border-radius: 0.8rem;
    border: 1px solid white;
    width: 35px;
    height: 35px;
}

/* Card développée */
.card-contener {
  width: 100%;
  max-height: 50vh;
  display: flex;
  justify-content: center;
}


body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #eee;
  margin: 0;
  background-color: #2e2e2e;
}
.container {
  padding: 2rem 1.5rem;

figure.card {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  background-color: var(--color5-);
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  max-width: 80%;
}


img#hero-picture {
  grid-row: 1 / 1 / 3 / 2 ;
  width: 100%;
  border-radius: 5%;
  margin : 5%;
}

img#favorite-star {
  grid-area: 1/2/2/3;
  width: 30%;
  height: 9%;
  margin-top: 28%;
  margin-left: 80%;
}

button#show-button {
  grid-area: 1/3/2/4;
  width: 40px;
  height: 18px;
  margin-top: 15%;
  margin-left: 20%;
  background-color: var(--color3-);
  border-color: transparent;
  border-radius: 5px;
  color: white;
  font-size: 45%;
}

.title-alias {
  grid-template-areas: 1/3/2/4;
  margin-left: 120%;
  margin-top: -5%;
  width: 100px;

}

h3 {
  font-size: 65%;
  text-align: left;
} 

h4 {
  font-size: 60%;
  text-align: left;
}

p {
  font-size: 70%;
}

#hero-information {
  grid-area : 4/1/5/2 ;
  margin-top: -25%;
  text-align: left;
  margin-left : 17%;
}

h5 {
  grid-area: 3/2/4/4;
  margin-top: -10%;
  font-size: 70%;
  text-align: left;
  margin-left: 13%;
  
}

#powerstat {
  grid-area: 4/3/5/4;
  margin-top: -50%;
  text-align: left;
  margin-left: -20%;
}

#previous, #next {
  margin: 13%;
  background-color: var(--color4-);
  border-color: transparent;
  border-radius: 5px;
  width: 60px;
  height: 22px;
  color: white;
  margin-top: 20%;
}

#previous {
  grid-area : 5/1/6/2;
  margin-left: 50%;

}
#next {
  grid-area : 5/3/6/4;
  margin-left: -18%;