* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color1-: #0a1a3f;
  --color2-: #2e2e2e;
  --color3-: #1a1f4a;
  --color4-: #3a3a3a;
  --color5-: #7b1113;
  --color6-: #cba921;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #eee;
  margin: 0;
  background-color: #2e2e2e;
}

/* Card horizontal */
.Card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #7b1113;
  border-radius: 0.5rem;
  justify-content: space-around;
  box-shadow: 5px 5px 5px black;
  margin-bottom: 0.5rem;
}
.cardSection {
  background-color: white;
  padding: 0.1rem 1.4rem;
}

.Card img {
  margin: 0.5em;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.Card h2 {
  font-size: small;
  color: var(--color6-);
  text-shadow: 5px 5px 5px black;
  @media (min-width: 996px) {
    font-size: larger;
  }
}

.Show {
  border-radius: 1rem;
  border: none;
  background-color: #1c1f4a;
  color: white;
  padding: 8px 20px 8px 20px;
}

.Show:hover {
  background-color: #252a63;
}

.Star {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 5px 5px 5px black;
  background-color: #7b1113;
  border: none;
  width: 35px;
  height: 35px;
}

.Star:hover {
  background-color: rgb(78, 23, 23);
  border-radius: 50%;
}

/* Card développée */
.card-contener {
  width: 100%;
  max-height: 50vh;
  display: flex;
  justify-content: center;
  margin-top: -5%;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #eee;
  background-color: #2e2e2e;
}

.container {
  padding: 2rem 1.5rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  @media (min-width: 996px) {
    display: flex;
    justify-content: space-between;
  }
}

figure.card {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  background-color: var(--color5-);
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  @media (min-width: 996px) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 40% 40%;
  }
}

img#hero-picture {
  grid-row: 1 / 1 / 3 / 2;
  width: 100%;
  border-radius: 5%;
  margin: 5%;
  box-shadow: 5px 5px 5px black;
  @media (min-width: 996px) {
    grid-area: 1 / 1 / 1 / 1;
    width: 120%;
    margin-left: -30%;
    margin-top: -10%;
  }
}

#star1 {
  grid-area: 1 / 2 / 1 / 2;
  margin-top: 20%;
  margin-left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7b1113;
  border: none;
  width: 35px;
  height: 35px;
  @media (min-width: 996px) {
    margin-top: 3%;
    margin-left: 30%;
  }
}

#star1:hover {
  background-color: rgb(78, 23, 23);
  border-radius: 50%;
}

.card-btn {
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  grid-template-areas: 1 / 3 / 2 / 4;
  margin-bottom: 30%;
  margin-left: 80%;
  @media (min-width: 996px) {
    grid-template-areas: 1 / 2 / 1 / 2;
    margin-top: -300%;
    margin-left: -300%;
  }
}

.card-btn:hover {
  color: rgb(227, 227, 227);
}

.title-alias {
  grid-template-areas: 2 / 2 / 3 / 4;
  margin-left: 120%;
  margin-top: -15%;
  width: 130%;
  display: flex;
  flex-direction: column;
  text-decoration: solid;
  text-shadow: 5px 5px 5px black;
  @media (min-width: 996px) {
    margin-left: 130%;
  }
}

h3 {
  font-size: 100%;
  color: var(--color6-);
  text-decoration: solid;
}

h4 {
  font-size: 90%;
  text-align: left;
}

p {
  font-size: 80%;
}

#hero-information {
  grid-area: 4 / 1 / 5 / 2;
  margin-top: -5%;
  text-align: left;
  margin-left: 33%;
  @media (min-width: 996px) {
    margin: 0;
    grid-area: 2 / 2 / 2 / 2;
    margin-left: 35%;
    margin-top: 10%;
  }
}

h5 {
  grid-area: 3 / 2 / 4 / 4;
  margin-top: -5%;
  font-size: 90%;
  text-align: left;
  margin-left: 33%;
  text-shadow: 5px 5px 5px black;
  @media (min-width: 996px) {
    margin-top: -15%;
  }
}

#powerstat {
  grid-area: 4 / 3 / 5 / 4;
  margin-top: -34%;
  text-align: left;
  @media (min-width: 996px) {
    grid-area: 3 / 2 / 3 / 2;
    margin-top: 0;
    margin-left: 35%;
  }
}

#previous,
#next {
  margin: 13%;
  background-color: var(--color4-);
  border-color: transparent;
  border-radius: 5px;
  width: 75px;
  height: 22px;
  color: white;
  margin-top: 20%;
  @media (min-width: 996px) {
    display: none;
  }
}

#previous {
  grid-area: 5 / 1 / 6 / 2;
  margin-left: 30%;
}
#next {
  grid-area: 5 / 3 / 6 / 4;
  margin-left: 0%;
}
.leftSection {
  background: unset;
  padding: unset;
}

/*media query version desktop*/

@media (min-width: 996px) {
  .container {
    padding: 2rem 1.5rem 2rem 0;
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 2fr 4fr;
  }
  .NoSuperHero {
    font-size: 1.5rem;
    text-align: center;
  }
  .leftSection {
    background: #575454;
    padding: 1rem 2rem 1rem 0.5rem;
    margin-bottom: 4rem;
    margin-top: -6.5rem;
  }
  .btnLeft {
    display: flex;
    justify-content: space-between;
  }
  .btnFirst,
  .btnSecond {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 3rem;
  }
}

/*Footer*/

.footer-contener {
  background-color: var(--color1-);
  box-shadow: 0px 0px 35px 30px var(--color1-);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 14vh;
  justify-content: end;
  align-items: center;
  font-size: 13px;
  text-align: end;
  margin: -25px 0 8px 0;
  @media screen and (min-width: 996px) {
    font-size: 22px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 35px 0 0 0;
    box-shadow: 0px 0px 25px 100px var(--color1-);
  }
}

#logoFooter {
  display: none;
  @media screen and (min-width: 996px) {
    display: block;
    width: 30%;

    margin-bottom: 0%;
  }
}

.firstLineFooter {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 996px) {
    display: flex;
    align-items: end;
    width: 20vw;
  }
}

.collab-ref {
  cursor: pointer;
  color: white;
  text-decoration-line: none;
  font-size: 11px;
  @media screen and (min-width: 996px) {
    font-size: 18px;
  }
}

.collaborateurs {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-evenly;
  @media screen and (min-width: 996px) {
    width: 33vw;
  }
}

.social-media {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  gap: 2em;
}
