.Card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #7B1113;
    border-radius: 0.5rem;
    border: 2px solid black;
    justify-content: space-around;
    box-shadow: 3px 3px 3px #2E2E2E;
}

.Card img {
    margin: 0.5em;
    border-radius: 0.5rem;

}

.Card h2 {
    font-size: small;
    color: #CBA921;
}

.Show {
    border-radius: 1rem;
    border: none;
    background-color: #1C1F4A;
    color: white;
    padding: 8px 20px 8px 20px;

}

.Star {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E2E2E;
    border-radius: 0.8rem;
    border: 1px solid white;
    width: 35px;
    height: 35px;
}