.cardcontener {
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  width: 100%;
  @media (min-width: 996px) {
    margin-top: 2%;
    margin-right: -5%;
    width: 100%;
    max-height: 50vh;
    display: flex;
    justify-content: center;
    position: relative;
    top: 8%;
  }
}

.contener {
  padding: 2rem 1.5rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  @media (min-width: 996px) {
    display: flex;
    justify-content: space-between;
  }
}

figure.card {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  background-color: var(--color5-);
  border-radius: 10px;
  box-shadow: 0px 0px 8px 5px var(--color5-);
  @media (min-width: 996px) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 40% 40%;
    height: 37rem;
    width: 70%;
    position: relative;
    bottom: 4rem;
    left: 6.5rem;
  }
}

img#heropicture {
  grid-row: 1 / 1 / 3 / 2;
  width: 100%;
  border-radius: 5%;
  margin: 5% 5% 0 15%;
  box-shadow: 0px 0px 20px 15px black;
  @media (min-width: 996px) {
    grid-area: 1 / 1 / 1 / 1;
    width: 32.5rem;
    margin-left: -25%;
    margin-top: -10%;
  }
}

.star1 {
  grid-area: 1 / 2 / 1 / 2;
  margin-top: 10%;
  margin-left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  @media (min-width: 996px) {
    margin-top: 4%;
    margin-left: -2%;
  }
}

.star1:hover {
  background-color: rgb(78, 23, 23);
  border-radius: 50%;
}

.cardbutton {
  cursor: pointer;
  color: rgb(227, 227, 227);
  border: none;
  scale: 1.5;
  background: transparent;
  font-size: 1.5rem;
  grid-template-areas: 1 / 3 / 2 / 4;
  margin-bottom: 105%;
  margin-left: 50%;
  @media (min-width: 996px) {
    grid-template-areas: 1 / 2 / 1 / 2;
    margin-bottom: 5rem;
    margin-left: -2.5rem;
  }
}

.cardbutton:hover {
  color: rgb(5, 5, 5);
}

.titlealias {
  grid-template-areas: 2 / 2 / 3 / 4;
  margin-left: 145%;
  margin-top: -100%;
  display: flex;
  width: 180px;
  flex-direction: column;
  text-decoration: solid;
  text-shadow: 5px 5px 5px black;
  @media (min-width: 996px) {
    margin-left: 100%;
    font-size: xx-large;
    line-height: 1.3;
    margin-top: -10%;
    width: 300px;
  }
}

h3 {
  color: var(--color6-);
  text-decoration: solid;
  font-size: 170%;
  max-width: 152px;
  @media (min-width: 996px) {
    font-size: 100%;
  }
}

h4 {
  font-size: 120%;
  text-align: left;
  max-width: 152px;
  @media (min-width: 996px) {
    font-size: 60%;
    margin-left: 7rem;
    max-width: 330px;
  }
}

#heroinfo p {
  display: flex;
  margin-left: 10%;
  text-shadow: black 1px 3px 8px;
  @media (min-width: 996px) {
    font-size: 110%;
    width: 350px;
    position: relative;
    left: 40%;
    top: 5%;
  }
}

#powerstat p {
  display: none;
  text-shadow: black 1px 3px 8px;
  border-style: double solid;
  border-radius: 100px;
  text-rendering: geometricPrecision;
  @media (min-width: 996px) {
    display: flex;
    font-size: 160%;
    justify-content: center;
  }
}

#heroinfo {
  grid-area: 4 / 1 / 5 / 2;
  text-align: left;
  line-height: 1.8;
  font-size: 130%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 190px;
  @media (min-width: 996px) {
    margin: 0;
    grid-area: 2 / 2 / 2 / 2;
    margin-top: 12%;
  }
}

h5 {
  grid-area: 3 / 2 / 4 / 4;
  display: flex;
  justify-content: center;
  margin-top: -15%;
  text-align: left;
  margin-left: 25%;
  font-size: 140%;
  max-width: 120px;
  text-shadow: 5px 5px 5px black;
  @media (min-width: 996px) {
    font-size: xx-large;
    margin-top: 10%;
    margin-left: 35%;
  }
}

#powerstat {
  grid-area: 4 / 3 / 5 / 4;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  scale: 0.8;
  margin-top: -10%;
  position: relative;
  left: -20%;
  text-align: left;
  width: 190px;
  line-height: 1.5;
  filter: drop-shadow(0 1px 2px white);
  @media (min-width: 996px) {
    grid-area: 3 / 2 / 3 / 2;
    display: flex;
    flex-wrap: nowrap;
    align-items: end;
    gap: 1rem;
    width: 400px;
    position: none;
    left: 0;
    top: 150px;
    height: 100px;
  }
}
