.footerContener {
  background-color: #1c1f4a;
  box-shadow: 5px 5px 5px black;
  display: flex;
  flex-direction: column;
  height: 14vh;
  justify-content: end;
  align-items: center;
  font-size: 13px;
  text-align: end;
  margin: -25px 0 8px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  @media screen and (min-width: 996px) {
    font-size: 22px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 35px 0 0 0;
  }
}

#logoFooter {
  display: none;
  @media screen and (min-width: 996px) {
    display: block;
    width: 30%;
    margin-bottom: 0%;
  }
}

.firstLineFooter {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 996px) {
    display: flex;
    align-items: end;
    width: 20vw;
  }
}

.collabRef {
  cursor: pointer;
  color: white;
  text-decoration-line: none;
  font-size: 11px;
  @media screen and (min-width: 996px) {
    font-size: 18px;
  }
}

.collaborateurs {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-evenly;
  @media screen and (min-width: 996px) {
    width: 33vw;
  }
}

.socialMedia {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  gap: 2em;
}
