.header {
  background-color: #1c1f4a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 5px black;
}

.header h1 {
  /* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
  font-family: "Sixtyfour Convergence";
}

.headerLogo {
  height: 4.6rem;
  margin-left: 1.5rem;
  transform: rotate(-90deg);
}
.logoContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookmarkIcon {
  position: relative;
  right: 3rem;
  width: 40px;
  height: 40px;
}

@media (max-width: 430px) {
  .logoContent h1 {
    font-size: 1.5rem;
  }
  .bookmarkIcon {
    right: 1rem;
    width: 35px;
    height: 35px;
  }
}
