.header {
	background-color: #1c1f4ab0;

	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 5px 5px 5px black;
	width: 100%;
	overflow-y: auto;
	z-index: 10;
}

.header h1 {
	font-family: "Sixtyfour Convergence", sans-serif;
}

.headerLogo {
	height: 4.6rem;
	margin-left: 1.5rem;
}
.logoContent {
	display: flex;
	align-items: center;
	justify-content: center;
}

.allSections {
	margin: 0 15rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
	gap: 6rem;
	margin-top: 2rem;
}
.link {
	text-decoration: none;
	background: #1c1f4a;
	text-align: center;
	color: #fff;
	padding: 0.5rem;
	font-size: 22px;
	border-radius: 10px;
}
.link:hover {
	opacity: 0.8;
	color: #1c1f4a;
	background: #fff;
}

@media (min-width: 996px) {
	.logoContent h1 {
		font-size: 1.5rem;
	}
	.bookmarkIcon {
		right: 1rem;
		width: 35px;
		height: 35px;
	}
}
