.form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2rem;
  bottom: -2rem;
  @media (min-width: 996px) {
    bottom: 3.5rem;
  }
}
.numberResults {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.searchInput {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 75vw;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
  @media (min-width: 996px) {
    width: 30vw;
  }
}
.searchInput:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}
.searchInput:focus {
  outline: none;
  background-color: #f0eeee;
}
.searchInput::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.searchInput:focus + .search__button {
  background-color: #f0eeee;
}

.searchButton {
  border: none;
  font-size: 1rem;
}
.searchButton:hover {
  cursor: pointer;
}
.searchIcon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}
.resultContainer {
  background-color: white;
  color: black;
  padding: 0.8rem;
  border-style: outset;
  font-size: 80%;
  max-width: 75vw;
  overflow-y: scroll;
  @media screen and (min-width: 996px) {
    max-width: 100%;
  }
}
article {
  position: absolute;
  overflow-y: scroll;
  max-height: 65vh;
  @media screen and (min-width: 996px) {
    max-width: 100%;
  }
}
