.form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 3.5rem;
}

.searchInput {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 34rem;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
}

.searchInput:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.searchInput:focus {
  outline: none;
  background-color: #f0eeee;
}

.searchInput::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.searchInput:focus + .search__button {
  background-color: #f0eeee;
}

.searchButton {
  border: none;
  font-size: 1rem;
}

.searchButton:hover {
  cursor: pointer;
}

.searchIcon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

@media (max-width: 1025px) {
  .searchInput {
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 26rem;
    transition: all ease-in-out 0.5s;
    margin-right: -2rem;
  }

}
@media (max-width: 915px) {
  .form {
    position: relative;
    bottom: -2rem;
  }
}
@media (max-width: 430px) {
  .searchInput {
    width: 18rem;
  }
}
